@model HedgeLinks.Models.ComercialTips

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ComercialTips</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditedUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditedUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
